<nav class="navbar navbar-dark bg-dark">
  <a href="/" class="navbar-brand">
    App estudiantes
  </a>  
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group mt-4">
          <li
          *ngFor="let student of studentArray"
           class="list-group-item list-group-item-action"
           (click)="openForEdit(student)"
           [class.active]="student == selectedStudent">
            <span class="badge bg-dark">{{ student.id }}</span> {{ student.name }} - DNI: {{ student.dni }} - Email: {{ student.email }}
          </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Ingrese un nuevo alumno
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedStudent.name" placeholder="Inserta un nombre" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedStudent.dni" placeholder="Inserta un dni" class="form-control mt-1">
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedStudent.email" placeholder="Inserta un email" class="form-control mt-1">
          </div>
          <button (click)="addOrEdit()" class="btn btn-secondary mt-1">
            Enviar
          </button>
          <button
            *ngIf="selectedStudent.id !== 0"
           class="btn btn-danger mt-1"
           (click)="delete()">
            Eliminar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>